
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-form-bg h-150">
        <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">

                        <div class="card-body pt-5">
                            <div class="form-validation">

                                <div class="basic-form">
                                    <form id="CreateForm" method="post" class="form-valide">
                                        <h4>Create New User</h4>
                                        <hr />
                                        <div class="form-group row">
                                            <label class="col-lg-12 col-form-label" for="val-username">
                                                Username <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="val-username" name="val-username" placeholder="Enter a username..">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-12 col-form-label" for="val-email">
                                                Email <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" id="val-email" name="val-email" placeholder="Enter email..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 col-form-label" for="val-password">
                                                Password <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="password" class="form-control" id="val-password" name="val-password" placeholder="Enter Password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 col-form-label" for="val-confirm-password">
                                                Confirm Password <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="Enter confirm password">
                                            </div>
                                        </div>

                                        <div style="margin-top:15px">
                                            <button type="submit" style="float:right" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>