@page
@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
   
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="login-form-bg h-150" style="margin-top:150px">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <h4>Forget Password</h4>
                            <div class="basic-form">
                            <form method="post" class="login-input">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style="margin-bottom:20px;">
                 
                 <input asp-for="Input.Email" class="form-control input-default" autocomplete="username" aria-required="true" placeholder="Enter email" />
              
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div >
            <button type="submit" class="w-100 btn btn-lg btn-primary">Send OTP</button>
        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
