@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<div class="login-form-bg h-150" style="margin-top:150px">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">

                            <div class="basic-form">
                            <form id="account" method="post" class="login-input">
                               
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating" style="margin-top:20px">
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <input asp-for="Input.Email" class="form-control input-default" autocomplete="username" aria-required="true" placeholder="Enter email" />

                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                    <div class="form-floating" style="margin-top:20px">
                                    <label asp-for="Input.Password" class="form-label"></label>
                                    <input asp-for="Input.Password" class="form-control input-default" autocomplete="current-password" aria-required="true" placeholder="Enter password" />

                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <div class="checkbox" style="margin-top:10px;margin-left:10px;">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="margin-top:10px;">Log in</button>
                                </div>
                                <div style="margin-top: 15px;">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword" style="display: inline-block; margin-right: 112px;">Forgot your password?</a>
                                        <span class="login-form__footer" style="display: inline-block;">Don't have an account? <a href="page-register.html" class="text-primary">Sign Up</a> now</span>
                                    </p>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
